#update-action > .update-client {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#declare-sale {
    display: grid;
    align-self: end;
}

#send-email-btn {
    margin-left: 20px;
    width: 100px;
    color: rgb(236, 192, 30);
}

#declare-sale-btn {
    margin-left: 20px;
    width: 100px;
    color: rgb(236, 192, 30);
}

#transfer-btn {
    margin-left: 20px;
    width: 100px;
    color: rgb(236, 192, 30);
}

#actions {
    margin: 20px;
}

#update-client-input {
    background-color: #ECF0F1;
    margin-left: 5px;
    border: none;
    border-bottom: 1px grey solid;
    font-size: 14px;
}

.update-client {
    margin: 10px;
}

#input-fields {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 200px;
    margin: 10px;
}

.standard-name {
    width: 200px;
}

#create-action > h4 {
    margin-bottom: 0;
}

#add-client-btn {
    margin-top: 20px;
    width: 200px;
    background-color: #F7CE3E;
    color: rgb(34, 33, 33);
}

#saved-message {
    background-color: #2ecc71;
    position: absolute;
    bottom: -65px;
    right: 10px;
    border-radius: 5px;
    padding: 10px;
}

#saved-ok-btn {
    background-color: rgb(129, 129, 129);
    color: white;
    margin-left: 5px;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
}

#saved-ok-btn:hover {
    background-color: rgb(141, 138, 138);
}
/*
#actions > .MuiSnackbar-root-107 {
    background-color: white;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    margin-left: 70%;
    bottom: -80px;
} */

/* .MuiSnackbarContent-message-122 > #message-id {
    width: 100px;
} */