#top {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#charts-container {
    margin: 30px;
}

.chart > h5 {
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
}

#sales-by-selection {
    background-color: #ECF0F1;
    border: none;
    border-bottom: 0.5px darkgray solid;
    width: 100px;
    color: grey;
    margin-left: 10px;
    cursor: pointer;
}

#client-acq-header {
    margin-bottom: 0;
}