.client-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    border-bottom: 0.5px grey solid;
    padding-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.row-item {
    display: grid;
    justify-self: start;
}

p.row-item {
    margin: 0;
}